.post__content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    header {
        padding-bottom: 10px;
        border-bottom: solid 1px rgba(0,0,0,.1);
        margin-bottom: 10px;
    }
}

.post__comments {
    margin-top: 50px;
    width: 100%;
}
